#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-container {
  background-image: url(https://passion.digital/app/uploads/2024/09/Untitled-design-20.jpg); /* Adjust the path according to where the image is located */
  background-size:cover; /* Cover the entire page */
  background-repeat: no-repeat; /* Prevent repeating of the image */
  background-position:center; /* Center the image */
  width: 1200px;
   text-align:right;
   min-height: 100vh;
   width: 100vw;
   display:flex;
   justify-content: right;
   align-items: center;
     color: rgba(186, 12, 64, 0.829); /* Optional: change text color to white for better visibility */
}

.app-background{
  background-image: url(https://media.licdn.com/dms/image/C4E12AQGlzsYoKqxHkA/article-cover_image-shrink_600_2000/0/1634130038864?e=2147483647&v=beta&t=cmCQHpCHmQQfxEya-gVJGNUQe7E6ruQ3xxs-841Jd6c); /* Adjust the path according to where the image is located */
  background-size:cover; /* Cover the entire page */
  background-repeat: no-repeat; /* Prevent repeating of the image */
  background-position:center; /* Center the image */
  min-height: 100vh;
  width: 100vw;
  padding-top: 150px;
  text-align:left;
  margin-left: -164px;
  

}
.app-background1{
  background-image: url(https://static.vecteezy.com/system/resources/previews/004/299/830/non_2x/shopping-online-on-phone-with-podium-paper-art-modern-pink-background-gifts-box-illustration-free-vector.jpg); /* Adjust the path according to where the image is located */
  background-size:cover; /* Cover the entire page */
  background-repeat: no-repeat; /* Prevent repeating of the image */
  background-position:center; /* Center the image */
  min-height: 100vh;
  width: 100vw;
  padding-top: 150px;
  text-align:left;
  

}



.text{
  
position: relative;
padding-bottom: 10px;

}
